@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
  --foregroundLighter: #494949;
  --foregroundLighter: #727272;
  /*  */
  /*  */
  --warning: #226500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #110720;
    --backgroundContent: #0c0319;
    --backgroundLighter: #190b2d;
    --contentBorder: whitesmoke;
    --foreground: #ededed;
    --foregroundLighter: #c3c3c3;
    --foregroundLighterer: #acacac;
    --warning: #ffdf20;
    --stubby: #0000ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* scroll bar padding */
  margin-left: calc(100vw - 100%);
}
